LightRAG_Chatbot_Workflow.json
{
    "name": "DBH-EHR Chatbot v6.0",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "rag-query",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "ac48c1e6-ff9b-4b87-a19a-094fc01468e4",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "webhookId": "33eae4d1-a3bf-445b-b385-eba2e5efa16b"
        },
        {
            "parameters": {
                "jsCode": "// n8n Code node - DBH EHR Chatbot v7.0 (Fixed)\nconst body = $input.item.json;\nconst token = (body.body && body.body.token) || body.token || '';\nconst rawMsg = ((body.body && body.body.message) || body.message || '').trim();\nconst GATEWAY = 'http://gateway:5000';\nconst AI_KEY = $env.OPENROUTER_API_KEY || '';\n\nif (!token) {\n  return [{ json: { type: 'text', message: 'Vui lòng đăng nhập để sử dụng tính năng này.' } }];\n}\n\n// Helpers\nasync function httpGet(url) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url,\n    headers: { Authorization: 'Bearer ' + token },\n    json: true\n  });\n}\n\nasync function httpPost(url, payload) {\n  return await this.helpers.httpRequest({\n    method: 'POST', url,\n    headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json' },\n    body: payload, json: true\n  });\n}\n\nasync function httpSafe(method, url, payload) {\n  try {\n    return await this.helpers.httpRequest({\n      method, url,\n      headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json' },\n      body: payload || undefined,\n      json: true,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true\n    });\n  } catch(e) {\n    let errBody = null;\n    try { errBody = e.response?.body || e.response?.data || null; } catch(_) {}\n    return { statusCode: 400, body: errBody || { message: e.message } };\n  }\n}\n\nfunction extractErrMsg(payload) {\n  if (!payload) return 'Lỗi không xác định';\n  if (typeof payload === 'string') { try { payload = JSON.parse(payload); } catch(_) { return payload; } }\n  return payload.message || payload.Message || payload.title ||\n         Object.values(payload.errors || {})?.[0]?.[0] || JSON.stringify(payload);\n}\n\nfunction fmtStatus(s) {\n  const map = { PENDING:'Chờ duyệt', CONFIRMED:'Đã xác nhận', CHECKED_IN:'Đã đến',\n    IN_PROGRESS:'Đang khám', COMPLETED:'Hoàn thành', CANCELLED:'Đã hủy',\n    NO_SHOW:'Vắng mặt', RESCHEDULED:'Dời lịch' };\n  return map[s] || s;\n}\n\nfunction fmtDateTime(iso) {\n  const d = new Date(iso);\n  const pad = n => String(n).padStart(2,'0');\n  return pad(d.getDate()) + '/' + pad(d.getMonth()+1) + '/' + d.getFullYear() +\n         ' ' + pad(d.getHours()) + ':' + pad(d.getMinutes());\n}\n\n// ACTION commands\nif (rawMsg.startsWith('ACTION:')) {\n  const parts = rawMsg.split('|');\n  const cmd = parts[0];\n\n  // BOOKING: Chọn bác sĩ -> Chọn ngày\n  if (cmd.startsWith('ACTION:BOOK_DOCTOR_ID:')) {\n    const doctorId = cmd.replace('ACTION:BOOK_DOCTOR_ID:', '');\n    const doctorName = decodeURIComponent((parts[1] || '').replace('NAME:', ''));\n    const orgId = (parts[2] || '').replace('ORG:', '');\n    \n    const dates = [];\n    const today = new Date();\n    for (let i = 1; i <= 6; i++) {\n      const d = new Date(today);\n      d.setDate(today.getDate() + i);\n      const label = d.toLocaleDateString('vi-VN', { weekday: 'short', day: '2-digit', month: '2-digit' });\n      const yy = d.getFullYear(), mm = String(d.getMonth()+1).padStart(2,'0'), dd = String(d.getDate()).padStart(2,'0');\n      const value = yy + '-' + mm + '-' + dd;\n      dates.push({\n        id: value,\n        label: label,\n        sublabel: value,\n        payload: `ACTION:SELECT_DATE:${value}|DOC:${doctorId}|NAME:${encodeURIComponent(doctorName)}|ORG:${orgId}`\n      });\n    }\n    return [{ json: { type: 'date_selection', message: `Chọn ngày khám với ${doctorName}:`, data: dates } }];\n  }\n\n  // BOOKING: Chọn ngày -> Chọn giờ\n  if (cmd.startsWith('ACTION:SELECT_DATE:')) {\n    const date = cmd.replace('ACTION:SELECT_DATE:', '');\n    const doctorId = (parts[1] || '').replace('DOC:', '');\n    const doctorName = decodeURIComponent((parts[2] || '').replace('NAME:', ''));\n    const orgId = (parts[3] || '').replace('ORG:', '');\n    \n    const slots = ['08:00', '08:30', '09:00', '09:30', '10:00', '14:00', '14:30', '15:00', '15:30', '16:00'];\n    const timeData = slots.map(s => ({\n      id: s,\n      label: s,\n      payload: `ACTION:PREVIEW_BOOKING:${date}T${s}:00|DOC:${doctorId}|NAME:${encodeURIComponent(doctorName)}|ORG:${orgId}`\n    }));\n    return [{ json: { type: 'time_selection', message: `Ngày ${date} - Chọn giờ khám với ${doctorName}:`, data: timeData } }];\n  }\n\n  // BOOKING: Preview xác nhận\n  if (cmd.startsWith('ACTION:PREVIEW_BOOKING:')) {\n    const scheduledRaw = cmd.replace('ACTION:PREVIEW_BOOKING:', '');\n    const doctorId = (parts[1] || '').replace('DOC:', '');\n    const doctorName = decodeURIComponent((parts[2] || '').replace('NAME:', ''));\n    const orgId = (parts[3] || '').replace('ORG:', '');\n    const datePart = scheduledRaw.split('T')[0];\n    const timePart = scheduledRaw.split('T')[1]?.substring(0, 5);\n    \n    const previewData = [\n      { id: 'confirm', label: 'Xác nhận', payload: `ACTION:EXECUTE_BOOKING:${scheduledRaw}|DOC:${doctorId}|NAME:${encodeURIComponent(doctorName)}|ORG:${orgId}` },\n      { id: 'cancel', label: 'Hủy bỏ', payload: 'Hủy đặt lịch' }\n    ];\n    \n    return [{ json: {\n      type: 'confirmation',\n      message: `XÁC NHẬN ĐẶT LỊCH\\n\\nNgày: ${datePart}\\nGiờ: ${timePart}\\nBác sĩ: ${doctorName}\\n\\nBạn xác nhận đặt lịch?`,\n      data: previewData\n    } }];\n  }\n\n  // BOOKING: Thực thi đặt lịch\n  if (cmd.startsWith('ACTION:EXECUTE_BOOKING:')) {\n    const scheduledRaw = cmd.replace('ACTION:EXECUTE_BOOKING:', '');\n    const dateTime = scheduledRaw.includes('T') ? (scheduledRaw.length === 16 ? scheduledRaw + ':00' : scheduledRaw) : scheduledRaw;\n    \n    let doctorId = '';\n    let orgId = '';\n    for (let i = 1; i < parts.length; i++) {\n      if (parts[i].startsWith('DOC:')) {\n        doctorId = parts[i].replace('DOC:', '');\n      } else if (parts[i].startsWith('ORG:')) {\n        orgId = parts[i].replace('ORG:', '');\n      }\n    }\n\n    let patientId = '';\n    try {\n      const pd = await httpGet(GATEWAY + '/api/v1/auth/me');\n      const p = pd.profiles || pd.Profiles || {};\n      const pt = p.Patient || p.patient || {};\n      patientId = pt.patientId || pt.PatientId || '';\n    } catch(e) {\n      return [{ json: { type: 'text', message: 'Lỗi lấy hồ sơ: ' + e.message } }];\n    }\n\n    if (!patientId) {\n      return [{ json: { type: 'text', message: 'Tài khoản chưa có hồ sơ Bệnh nhân.' } }];\n    }\n\n    const res = await httpSafe('POST', GATEWAY + '/api/v1/Appointments', {\n      patientId,\n      doctorId,\n      orgId,\n      scheduledAt: dateTime\n    });\n    \n    if (res.statusCode === 200 || res.statusCode === 201) {\n      return [{ json: { type: 'text', message: 'Đặt lịch thành công!' } }];\n    } else {\n      return [{ json: { type: 'text', message: 'Lỗi: ' + extractErrMsg(res.body) } }];\n    }\n  }\n\n  // VIEW APPOINTMENTS\n  if (cmd === 'ACTION:VIEW_APPOINTMENTS') {\n    let patientId = '';\n    try {\n      const pd = await httpGet(GATEWAY + '/api/v1/auth/me');\n      const p = pd.profiles || pd.Profiles || {};\n      const pt = p.Patient || p.patient || {};\n      patientId = pt.patientId || pt.PatientId || '';\n    } catch(e) {\n      return [{ json: { type: 'text', message: 'Lỗi lấy hồ sơ: ' + e.message } }];\n    }\n\n    if (!patientId) {\n      return [{ json: { type: 'text', message: 'Tài khoản chưa có hồ sơ Bệnh nhân.' } }];\n    }\n\n    const res = await httpSafe('GET', GATEWAY + '/api/v1/Appointments?patientId=' + patientId + '&page=1&pageSize=8');\n    if (res.statusCode !== 200) {\n      return [{ json: { type: 'text', message: 'Lỗi: ' + extractErrMsg(res.body) } }];\n    }\n\n    const appts = (res.body.data || res.body.Data || []).filter(a => a.status !== 'CANCELLED' && a.status !== 'COMPLETED');\n    if (appts.length === 0) {\n      return [{ json: { type: 'text', message: 'Bạn không có lịch hẹn nào đang hoạt động.' } }];\n    }\n\n    const items = appts.map(a => ({\n      id: a.appointmentId,\n      label: fmtDateTime(a.scheduledAt),\n      sublabel: fmtStatus(a.status),\n      payload: 'ACTION:APPT_DETAIL:' + a.appointmentId\n    }));\n    return [{ json: { type: 'appointment_list', message: 'Lịch hẹn của bạn (chọn để xem chi tiết):', data: items } }];\n  }\n\n  // APPOINTMENT DETAIL\n  if (cmd.startsWith('ACTION:APPT_DETAIL:')) {\n    const apptId = cmd.replace('ACTION:APPT_DETAIL:', '');\n    const res = await httpSafe('GET', GATEWAY + '/api/v1/Appointments/' + apptId);\n    if (res.statusCode !== 200) {\n      return [{ json: { type: 'text', message: 'Lỗi: ' + extractErrMsg(res.body) } }];\n    }\n\n    const a = res.body.data || res.body;\n    const canCancel = ['PENDING', 'CONFIRMED'].includes(a.status);\n    const info = `THÔNG TIN LỊCH HẸN\\n\\nThời gian: ${fmtDateTime(a.scheduledAt)}\\nTrạng thái: ${fmtStatus(a.status)}\\nMã số: ${a.appointmentId.slice(-8).toUpperCase()}`;\n\n    if (!canCancel) {\n      return [{ json: { type: 'text', message: info + '\\n\\n(Lịch này không thể hủy)' } }];\n    }\n\n    const actions = [\n      { id: 'cancel', label: 'Hủy lịch này', payload: 'ACTION:CONFIRM_CANCEL:' + apptId },\n      { id: 'back', label: 'Quay lại', payload: 'ACTION:VIEW_APPOINTMENTS' }\n    ];\n    return [{ json: { type: 'confirmation', message: info, data: actions } }];\n  }\n\n  // CONFIRM CANCEL\n  if (cmd.startsWith('ACTION:CONFIRM_CANCEL:')) {\n    const apptId = cmd.replace('ACTION:CONFIRM_CANCEL:', '');\n    const actions = [\n      { id: 'yes', label: 'Xác nhận hủy', payload: 'ACTION:EXECUTE_CANCEL:' + apptId },\n      { id: 'no', label: 'Không hủy', payload: 'ACTION:VIEW_APPOINTMENTS' }\n    ];\n    return [{ json: {\n      type: 'confirmation',\n      message: `XÁC NHẬN HỦY LỊCH\\n\\nBạn có chắc muốn hủy lịch hẹn này?\\nLý do: Bệnh nhân yêu cầu hủy.`,\n      data: actions\n    } }];\n  }\n\n  // EXECUTE CANCEL\n  if (cmd.startsWith('ACTION:EXECUTE_CANCEL:')) {\n    const apptId = cmd.replace('ACTION:EXECUTE_CANCEL:', '');\n    const res = await httpSafe('PUT', GATEWAY + '/api/v1/Appointments/' + apptId + '/cancel', {\n      reason: 'Bệnh nhân yêu cầu hủy qua chatbot'\n    });\n    if (res.statusCode === 200 || res.statusCode === 201) {\n      return [{ json: { type: 'text', message: 'Đã hủy lịch hẹn thành công.' } }];\n    } else {\n      return [{ json: { type: 'text', message: 'Lỗi: ' + extractErrMsg(res.body) } }];\n    }\n  }\n\n  return [{ json: { type: 'text', message: 'Lệnh không nhận dạng được.' } }];\n}\n\n// Classify with AI\nlet intent = 'GREETING';\nlet greetingResponse = 'Xin chào! Tôi có thể giúp bạn đặt lịch khám, xem lịch hẹn hoặc tra cứu bệnh án.';\nlet extractedSpecialty = null;\n\ntry {\n  const aiRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://openrouter.ai/api/v1/chat/completions',\n    headers: { Authorization: 'Bearer ' + AI_KEY, 'Content-Type': 'application/json', 'HTTP-Referer': 'https://dbh-ehr.local' },\n    body: {\n      model: 'openai/gpt-4o-mini',\n      response_format: { type: 'json_object' },\n      temperature: 0.1,\n      messages: [\n        { role: 'system', content: `Phân loại ý định người dùng. Trả về JSON.\n\nCác intent:\n- BOOK_APPOINTMENT: đặt lịch khám, tìm bác sĩ\n- VIEW_APPOINTMENTS: xem lịch hẹn\n- EHR_QUERY: xem hồ sơ bệnh án\n- POLICY_QUERY: hỏi chính sách\n- GREETING: chào hỏi\n\nVí dụ:\n- \"Tìm bác sĩ Nhi khoa\" -> {\"intent\":\"BOOK_APPOINTMENT\",\"specialty\":\"nhi khoa\"}\n- \"Xem lịch hẹn\" -> {\"intent\":\"VIEW_APPOINTMENTS\"}\n- \"Xem hồ sơ\" -> {\"intent\":\"EHR_QUERY\"}\n- \"Chào bạn\" -> {\"intent\":\"GREETING\",\"response\":\"Xin chào!\"}` },\n        { role: 'user', content: rawMsg }\n      ]\n    },\n    json: true\n  });\n  \n  const aiText = aiRes?.choices?.[0]?.message?.content || '{}';\n  let parsed = {};\n  try { const m = aiText.match(/{[\\s\\S]*}/); if (m) parsed = JSON.parse(m[0]); } catch(e) {}\n  \n  intent = parsed.intent || 'GREETING';\n  greetingResponse = parsed.response || 'Xin chào! Tôi có thể giúp gì cho bạn?';\n  extractedSpecialty = parsed.specialty || null;\n} catch(e) {\n  return [{ json: { type: 'text', message: 'Lỗi kết nối AI: ' + e.message } }];\n}\n\n// Route by intent\nif (intent === 'GREETING') {\n  return [{ json: { type: 'text', message: greetingResponse } }];\n}\n\nif (intent === 'POLICY_QUERY') {\n  let userRole = 'patient';\n  try { \n    const pd = await httpGet(GATEWAY + '/api/v1/auth/me'); \n    const rolesArray = pd.roles || pd.Roles || [];\n    if (Array.isArray(rolesArray) && rolesArray.length > 0) {\n      const adminStr = rolesArray.find(r => String(r).toLowerCase() === 'admin');\n      userRole = adminStr ? 'admin' : String(rolesArray[0]).toLowerCase();\n    }\n  } catch(_) {}\n  \n  try {\n    const ragRes = await this.helpers.httpRequest({\n      method: 'POST', url: 'http://lightrag:9621/query',\n      body: { query: rawMsg, mode: 'naive', namespace: userRole },\n      json: true\n    });\n    const answer = ragRes.answer || ragRes.response || 'Không tìm thấy thông tin phù hợp.';\n    return [{ json: { type: 'text', message: answer } }];\n  } catch(e) {\n    return [{ json: { type: 'text', message: 'Lỗi hệ thống: ' + e.message } }];\n  }\n}\n\nif (intent === 'VIEW_APPOINTMENTS') {\n  return [{ json: { type: 'action', message: 'Đang lấy danh sách lịch hẹn...', payload: 'ACTION:VIEW_APPOINTMENTS' } }];\n}\n\nif (intent === 'BOOK_APPOINTMENT') {\n  const spec = (extractedSpecialty || 'nội khoa').toLowerCase().normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '').replace(/đ/g, 'd').trim();\n  \n  try {\n    const searchData = await httpPost(GATEWAY + '/api/v1/memberships/doctors/search', {\n      specialty: spec,\n      page: 1,\n      pageSize: 10\n    });\n    \n    const rawData = searchData.data || searchData.Data || [];\n    if (rawData.length === 0) {\n      return [{ json: { type: 'text', message: 'Không tìm thấy bác sĩ chuyên khoa ' + (extractedSpecialty || 'nội khoa') } }];\n    }\n    \n    const docs = rawData.map(d => {\n      const user = d.user || d.User || {};\n      const up = user.userProfile || user.UserProfile || {};\n      const p = up.profiles || up.Profiles || {};\n      const doc = p.Doctor || p.doctor || {};\n      return {\n        doctorId: doc.doctorId || d.membershipId || '',\n        name: user.fullName || up.fullName || 'Bác sĩ',\n        specialty: d.specialty || spec,\n        orgName: d.orgName || 'Bệnh viện',\n        orgId: String(d.orgId || d.OrgId || '')\n      };\n    }).filter(d => d.doctorId);\n    \n    if (docs.length === 0) {\n      return [{ json: { type: 'text', message: 'Không tìm thấy thông tin bác sĩ chi tiết.' } }];\n    }\n    \n    // Thêm payload cho mỗi bác sĩ\n    const docsWithPayload = docs.map(doc => ({\n      ...doc,\n      payload: `ACTION:BOOK_DOCTOR_ID:${doc.doctorId}|NAME:${encodeURIComponent(doc.name)}|ORG:${doc.orgId}`\n    }));\n    \n    return [{ json: { type: 'doctor_list', data: docsWithPayload } }];\n  } catch(e) {\n    return [{ json: { type: 'text', message: 'Lỗi tìm bác sĩ: ' + e.message } }];\n  }\n}\n\nif (intent === 'EHR_QUERY') {\n  try {\n    const profileData = await httpGet(GATEWAY + '/api/v1/auth/me');\n    const p = profileData.profiles || profileData.Profiles || {};\n    const patient = p.Patient || p.patient || {};\n    const pId = patient.patientId || patient.PatientId || profileData.userId || profileData.UserId || '';\n    \n    if (!pId) {\n      return [{ json: { type: 'text', message: 'Cần đăng nhập bệnh nhân để xem hồ sơ.' } }];\n    }\n    \n    const ehrData = await httpGet(GATEWAY + '/api/v1/ehr/records/patient/' + pId);\n    const records = Array.isArray(ehrData) ? ehrData : (ehrData.data || ehrData.Data || []);\n    const count = Array.isArray(records) ? records.length : 0;\n    \n    if (count === 0) {\n      return [{ json: { type: 'text', message: 'Bạn chưa có hồ sơ bệnh án nào.' } }];\n    }\n    \n    const orgCache = {};\n    const items = await Promise.all(records.map(async r => {\n      const ehrId = r.ehrId || r.EhrId || r.id || r.Id || '';\n      const createdAt = r.createdAt || r.CreatedAt || r.date || r.Date || '';\n      const diagnosis = r.diagnosis || r.Diagnosis || r.chiefComplaint || r.ChiefComplaint || 'Khám tổng quát';\n      \n      let orgNameStr = 'Không rõ';\n      const oId = r.orgId || r.OrgId;\n      if (oId) {\n        if (!orgCache[oId]) {\n          try {\n            const orgRes = await httpSafe('GET', GATEWAY + '/api/v1/Organizations/' + oId);\n            if (orgRes.statusCode === 200) {\n              const oData = orgRes.body.data || orgRes.body;\n              orgCache[oId] = oData.orgName || oData.name || oId;\n            } else {\n              orgCache[oId] = oId;\n            }\n          } catch (e) {\n            orgCache[oId] = oId;\n          }\n        }\n        orgNameStr = orgCache[oId];\n      }\n\n      const doctorName = r.doctorName || r.DoctorName || (r.doctor && (r.doctor.fullName || r.doctor.name)) || (oId ? 'Cơ sở ' + orgNameStr : 'Bác sĩ');\n      const dateLabel = createdAt ? fmtDateTime(createdAt) : 'Không rõ ngày';\n      return { ehrId, dateLabel, diagnosis, doctorName };\n    }));\n    return [{ json: { type: 'ehr_list', patientName: patient.fullName || 'Bệnh nhân', count, data: items } }];\n  } catch(e) {\n    return [{ json: { type: 'text', message: 'Lỗi tra cứu: ' + e.message } }];\n  }\n}\n\nreturn [{ json: { type: 'text', message: 'Tôi chưa hiểu yêu cầu này.\\n\\nBạn có thể:\\n- Đặt lịch khám (VD: \"Tìm bác sĩ Nhi khoa\")\\n- Xem lịch hẹn (VD: \"Xem lịch hẹn của tôi\")\\n- Tra cứu bệnh án (VD: \"Xem hồ sơ bệnh án\")' } }];"
            },
            "id": "f91f5837-efa1-49bf-a75b-374ff52d254e",
            "name": "Xử lý Chatbot",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "f895e104-b5b4-439b-94ae-e58c10ed9c78",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                448,
                0
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Xử lý Chatbot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Xử lý Chatbot": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
    },
    "versionId": "94222b6d-785a-4090-8034-5ea9af584f15",
    "meta": {
        "instanceId": "00a353c31e53ca07741278647596931f82d98937a013097f82c651f44bac48ad"
    },
    "id": "09YU7QpEJ5Jas4Lw",
    "tags": []
}