LightRAG_Chatbot_Workflow.json
{
    "id": "wf-ehr-v6-simple",
    "name": "DBH-EHR Chatbot v6.0",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "rag-query",
                "responseMode": "responseNode"
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// n8n Code node - DBH EHR Chatbot v6.2\nconst body = $input.item.json;\nconst token = (body.body && body.body.token) || body.token || '';\nconst rawMsg = ((body.body && body.body.message) || body.message || '').trim();\nconst GATEWAY = 'http://gateway:5000';\nconst AI_KEY = $env.OPENROUTER_API_KEY || '';\n\nif (!token) {\n  return [{ json: { type: 'text', message: '⚠️ Vui lòng đăng nhập để sử dụng tính năng này.' } }];\n}\n\n// ── Helpers ──────────────────────────────────────\nasync function httpGet(url) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url,\n    headers: { Authorization: 'Bearer ' + token },\n    json: true\n  });\n}\n\nasync function httpPost(url, payload) {\n  return await this.helpers.httpRequest({\n    method: 'POST', url,\n    headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json' },\n    body: payload, json: true\n  });\n}\n\n// Gọi API không throw khi 4xx — luôn đọc được body lỗi\nasync function httpSafe(method, url, payload) {\n  try {\n    return await this.helpers.httpRequest({\n      method, url,\n      headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json' },\n      body: payload || undefined,\n      json: true,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true\n    });\n  } catch(e) {\n    let errBody = null;\n    try { errBody = e.response?.body || e.response?.data || null; } catch(_) {}\n    return { statusCode: 400, body: errBody || { message: e.message } };\n  }\n}\n\nfunction extractErrMsg(payload) {\n  if (!payload) return 'Lỗi không xác định';\n  if (typeof payload === 'string') { try { payload = JSON.parse(payload); } catch(_) { return payload; } }\n  return payload.message || payload.Message || payload.title ||\n         Object.values(payload.errors || {})?.[0]?.[0] || JSON.stringify(payload);\n}\n\nfunction fmtStatus(s) {\n  const map = { PENDING:'⏳ Chờ duyệt', CONFIRMED:'✅ Đã xác nhận', CHECKED_IN:'🏥 Đã đến',\n    IN_PROGRESS:'🔄 Đang khám', COMPLETED:'✔️ Hoàn thành', CANCELLED:'❌ Đã hủy',\n    NO_SHOW:'⚠️ Vắng mặt', RESCHEDULED:'📅 Dời lịch' };\n  return map[s] || s;\n}\n\nfunction fmtDateTime(iso) {\n  const d = new Date(iso);\n  const pad = n => String(n).padStart(2,'0');\n  return pad(d.getDate()) + '/' + pad(d.getMonth()+1) + '/' + d.getFullYear() +\n         ' ' + pad(d.getHours()) + ':' + pad(d.getMinutes());\n}\n\n// ── 1. ACTION commands ──────────────────────────────────────\nif (rawMsg.startsWith('ACTION:')) {\n  const parts = rawMsg.split('|');\n  const cmd = parts[0];\n\n  // ── ĐẶT LỊCH: Chọn ngày ──────────────────────────────\n  if (cmd.startsWith('ACTION:BOOK_DOCTOR_ID:')) {\n    const doctorId = cmd.replace('ACTION:BOOK_DOCTOR_ID:', '');\n    const orgId = (parts[1] || '').replace('ORG:', '');\n    const dates = [];\n    const today = new Date();\n    for (let i = 1; i <= 6; i++) {\n      const d = new Date(today); d.setDate(today.getDate() + i);\n      const label = d.toLocaleDateString('vi-VN', { weekday: 'short', day: '2-digit', month: '2-digit' });\n      const yy = d.getFullYear(), mm = String(d.getMonth()+1).padStart(2,'0'), dd = String(d.getDate()).padStart(2,'0');\n      const value = yy + '-' + mm + '-' + dd;\n      dates.push({ id: value, label, sublabel: value, payload: 'ACTION:SELECT_DATE:' + value + '|DOC:' + doctorId + '|ORG:' + orgId });\n    }\n    return [{ json: { type: 'date_selection', message: 'Chọn ngày khám:', data: dates } }];\n  }\n\n  // ── ĐẶT LỊCH: Chọn giờ ────────────────────────~~~~\n  if (cmd.startsWith('ACTION:SELECT_DATE:')) {\n    const date = cmd.replace('ACTION:SELECT_DATE:', '');\n    const doctorId = (parts[1] || '').replace('DOC:', '');\n    const orgId = (parts[2] || '').replace('ORG:', '');\n    const slots = ['08:00','08:30','09:00','09:30','10:00','14:00','14:30','15:00','15:30','16:00'];\n    const timeData = slots.map(s => ({ id: s, label: s,\n      payload: 'ACTION:PREVIEW_BOOKING:' + date + 'T' + s + ':00|DOC:' + doctorId + '|ORG:' + orgId }));\n    return [{ json: { type: 'time_selection', message: 'Ngày ' + date + ' — Chọn giờ :', data: timeData } }];\n  }\n\n  // ── ĐẶT LỊCH: Preview xác nhận ──────────────────────────────\n  if (cmd.startsWith('ACTION:PREVIEW_BOOKING:')) {\n    const scheduledRaw = cmd.replace('ACTION:PREVIEW_BOOKING:', '');\n    const doctorId = (parts[1] || '').replace('DOC:', '');\n    const orgId = (parts[2] || '').replace('ORG:', '');\n    const datePart = scheduledRaw.split('T')[0];\n    const timePart = scheduledRaw.split('T')[1]?.substring(0, 5);\n    const previewData = [\n      { id: 'confirm', label: '✅ Đồng ý', payload: 'ACTION:EXECUTE_BOOKING:' + scheduledRaw + '|DOC:' + doctorId + '|ORG:' + orgId },\n      { id: 'cancel', label: '❌ Hủy bỏ', payload: 'Hủy đặt lịch' }\n    ];\n    return [{ json: { type: 'date_selection',\n      message: '🔍 XÁC NHẬN:\\n📅 Ngày: ' + datePart + '\\n⏰ Giờ : ' + timePart + '\\nBạn xác nhận đặt lịch?',\n      data: previewData } }];\n  }\n\n  // ── ĐẶT LỊCH: Thực thi ──────────────────────────────\n  if (cmd.startsWith('ACTION:EXECUTE_BOOKING:')) {\n    const scheduledRaw = cmd.replace('ACTION:EXECUTE_BOOKING:', '');\n    const dateTime = scheduledRaw.includes('T') ? (scheduledRaw.length === 16 ? scheduledRaw + ':00' : scheduledRaw) : scheduledRaw;\n    const doctorId = (parts[1] || '').replace('DOC:', '');\n    const orgId = (parts[2] || '').replace('ORG:', '');\n\n    let patientId = '';\n    try {\n      const pd = await httpGet(GATEWAY + '/api/v1/auth/me');\n      const p = pd.profiles || pd.Profiles || {};\n      const pt = p.Patient || p.patient || {};\n      patientId = pt.patientId || pt.PatientId || '';\n    } catch(e) { return [{ json: { type: 'text', message: '❌ Lỗi lấy hồ sơ: ' + e.message } }]; }\n\n    if (!patientId) return [{ json: { type: 'text', message: '⚠️ Tài khoản chưa có hồ sơ Bệnh nhân.' } }];\n\n    const res = await httpSafe('POST', GATEWAY + '/api/v1/Appointments', { patientId, doctorId, orgId, scheduledAt: dateTime });\n    if (res.statusCode === 200 || res.statusCode === 201) {\n      return [{ json: { type: 'text', message: '✅ Lịch khám đã được đặt thành công!' } }];\n    } else {\n      return [{ json: { type: 'text', message: '❌ ' + extractErrMsg(res.body) } }];\n    }\n  }\n\n  // ── XEM LỊCH: Hiển thị danh sách ────────────────────────~~~~~~\n  if (cmd === 'ACTION:VIEW_APPOINTMENTS') {\n    let patientId = '';\n    try {\n      const pd = await httpGet(GATEWAY + '/api/v1/auth/me');\n      const p = pd.profiles || pd.Profiles || {};\n      const pt = p.Patient || p.patient || {};\n      patientId = pt.patientId || pt.PatientId || '';\n    } catch(e) { return [{ json: { type: 'text', message: '❌ Lỗi lấy hồ sơ: ' + e.message } }]; }\n\n    if (!patientId) return [{ json: { type: 'text', message: '⚠️ Tài khoản chưa có hồ sơ Bệnh nhân.' } }];\n\n    const res = await httpSafe('GET', GATEWAY + '/api/v1/Appointments?patientId=' + patientId + '&page=1&pageSize=8');\n    if (res.statusCode !== 200) return [{ json: { type: 'text', message: '❌ ' + extractErrMsg(res.body) } }];\n\n    const appts = (res.body.data || res.body.Data || []).filter(a => a.status !== 'CANCELLED' && a.status !== 'COMPLETED');\n    if (appts.length === 0) return [{ json: { type: 'text', message: '📅 Bạn không có lịch hẹn nào đang hoạt động.' } }];\n\n    const items = appts.map(a => ({\n      id: a.appointmentId,\n      label: fmtDateTime(a.scheduledAt),\n      sublabel: fmtStatus(a.status),\n      payload: 'ACTION:APPT_DETAIL:' + a.appointmentId\n    }));\n    return [{ json: { type: 'date_selection', message: '📋 Lịch hẹn của bạn (chọn để xem chi tiết):', data: items } }];\n  }\n\n  // ── XEM LỊCH: Chi tiết 1 lịch hẹn ────────────────────────~~~~\n  if (cmd.startsWith('ACTION:APPT_DETAIL:')) {\n    const apptId = cmd.replace('ACTION:APPT_DETAIL:', '');\n    const res = await httpSafe('GET', GATEWAY + '/api/v1/Appointments/' + apptId);\n    if (res.statusCode !== 200) return [{ json: { type: 'text', message: '❌ ' + extractErrMsg(res.body) } }];\n\n    const a = res.body.data || res.body;\n    const canCancel = ['PENDING','CONFIRMED'].includes(a.status);\n    const info = '📋 THÔNG TIN LỊCH HẸN\\n' +\n                 '🕒 Thời gian: ' + fmtDateTime(a.scheduledAt) + '\\n' +\n                 '📊 Trạng thái: ' + fmtStatus(a.status) + '\\n' +\n                 '🆔 Mã: ' + a.appointmentId.slice(-8).toUpperCase();\n\n    if (!canCancel) {\n      return [{ json: { type: 'text', message: info + '\\n\\n(Lịch này không thể hủy)' } }];\n    }\n\n    const actions = [\n      { id: 'cancel', label: '🚫 Hủy lịch này', payload: 'ACTION:CONFIRM_CANCEL:' + apptId },\n      { id: 'back',   label: '↩️ Quay lại', payload: 'ACTION:VIEW_APPOINTMENTS' }\n    ];\n    return [{ json: { type: 'date_selection', message: info, data: actions } }];\n  }\n\n  // ── HỦY LỊCH: Xác nhận ──────────────────────────────\n  if (cmd.startsWith('ACTION:CONFIRM_CANCEL:')) {\n    const apptId = cmd.replace('ACTION:CONFIRM_CANCEL:', '');\n    const actions = [\n      { id: 'yes', label: '✅ Xác nhận hủy', payload: 'ACTION:EXECUTE_CANCEL:' + apptId },\n      { id: 'no',  label: '❌ Không hủy',    payload: 'ACTION:VIEW_APPOINTMENTS' }\n    ];\n    return [{ json: { type: 'date_selection',\n      message: '⚠️ Bạn có chắc muốn hủy lịch hẹn này?\\nLý do hủy: Bệnh nhân yêu cầu hủy.',\n      data: actions } }];\n  }\n\n  // ── HỦY LỊCH: Thực thi ──────────────────────────────\n  if (cmd.startsWith('ACTION:EXECUTE_CANCEL:')) {\n    const apptId = cmd.replace('ACTION:EXECUTE_CANCEL:', '');\n    const res = await httpSafe('PUT', GATEWAY + '/api/v1/Appointments/' + apptId + '/cancel',\n      { reason: 'Bệnh nhân yêu cầu hủy qua chatbot' });\n    if (res.statusCode === 200 || res.statusCode === 201) {\n      return [{ json: { type: 'text', message: '✅ Đã hủy lịch hẹn thành công.' } }];\n    } else {\n      return [{ json: { type: 'text', message: '❌ ' + extractErrMsg(res.body) } }];\n    }\n  }\n\n  return [{ json: { type: 'text', message: 'Lệnh không nhận dạng được.' } }];\n}\n\n// ── 2. Classify with AI ──────────────────────────────────────\nlet intent = 'GREETING';\nlet greetingResponse = 'Xin chào! Tôi có thể giúp bạn đặt lịch khám, xem lịch hẹn hoặc tra cứu bệnh án.';\nlet extractedSpecialty = null;\n\ntry {\n  const aiRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://openrouter.ai/api/v1/chat/completions',\n    headers: { Authorization: 'Bearer ' + AI_KEY, 'Content-Type': 'application/json', 'HTTP-Referer': 'https://dbh-ehr.local' },\n    body: {\n      model: 'openai/gpt-4o-mini',\n      response_format: { type: 'json_object' },\n      temperature: 0.1,\n      messages: [\n        { role: 'system', content:\n            'Phan loai intent va trich xuat chuyen khoa. Examples:\\n' +\n            '- \"Kham tim o dau\": {\"intent\":\"BOOK_APPOINTMENT\",\"extractedSpecialty\":\"tim mach\"}\\n' +\n            '- \"Xem lich hen cua toi\" hoac \"lich kham cua toi\" hoac \"lich sắp tới\": {\"intent\":\"VIEW_APPOINTMENTS\"}\\n' +\n            '- \"Huy lich hen\": {\"intent\":\"VIEW_APPOINTMENTS\"}\\n' +\n            '- \"Cho xem ket qua xet nghiem\": {\"intent\":\"EHR_QUERY\"}\\n' +\n            '- \"Gio lam viec benh vien\": {\"intent\":\"POLICY_QUERY\"}\\n' +\n            '- \"Chao ban\": {\"intent\":\"GREETING\",\"greetingResponse\":\"Xin chao!\"}\\n' +\n            'Tra JSON: {\"intent\":\"...\",\"greetingResponse\":\"...\",\"extractedSpecialty\":\".\"}' },\n        { role: 'user', content: rawMsg }\n      ]\n    },\n    json: true\n  });\n  const aiText = aiRes?.choices?.[0]?.message?.content || '{}';\n  let parsed = {};\n  try { const m = aiText.match(/{[\\s\\S]*}/); if (m) parsed = JSON.parse(m[0]); } catch {}\n  intent = parsed.intent || 'GREETING';\n  greetingResponse = parsed.greetingResponse || 'Xin chào! Tôi có thể giúp gì cho bạn?';\n  extractedSpecialty = parsed.extractedSpecialty || null;\n} catch(e) {\n  return [{ json: { type: 'text', message: 'Lỗi kết nối AI: ' + e.message } }];\n}\n\n// ── 3. Route by intent ────────────────────────────────\nif (intent === 'GREETING') {\n  return [{ json: { type: 'text', message: greetingResponse } }];\n}\n\nif (intent === 'POLICY_QUERY') {\n  let userRole = 'patient';\n  try { \n      const pd = await httpGet(GATEWAY + '/api/v1/auth/me'); \n      const rolesArray = pd.roles || pd.Roles || [];\n      if (Array.isArray(rolesArray) && rolesArray.length > 0) {\n          const adminStr = rolesArray.find(r => String(r).toLowerCase() === 'admin');\n          userRole = adminStr ? 'admin' : String(rolesArray[0]).toLowerCase();\n      }\n  } catch(_) {}\n  \n  try {\n    const ragRes = await this.helpers.httpRequest({\n      method: 'POST', url: 'http://lightrag:9621/query',\n      body: { query: rawMsg, mode: 'naive', namespace: userRole },\n      json: true\n    });\n    const answer = ragRes.answer || ragRes.response || 'Không tìm thấy thông tin phù hợp.';\n    return [{ json: { type: 'text', message: '📄 ' + answer } }];\n  } catch(e) {\n    return [{ json: { type: 'text', message: '❌ Lỗi hệ thống: ' + e.message } }];\n  }\n}\n\nif (intent === 'VIEW_APPOINTMENTS') {\n  let patientId = '';\n  try {\n    const pd = await httpGet(GATEWAY + '/api/v1/auth/me');\n    const p = pd.profiles || pd.Profiles || {};\n    const pt = p.Patient || p.patient || {};\n    patientId = pt.patientId || pt.PatientId || '';\n  } catch(e) { return [{ json: { type: 'text', message: '❌ Lỗi lấy hồ sơ: ' + e.message } }]; }\n\n  if (!patientId) return [{ json: { type: 'text', message: '⚠️ Tài khoản chưa có hồ sơ Bệnh nhân.' } }];\n\n  const res = await httpSafe('GET', GATEWAY + '/api/v1/Appointments?patientId=' + patientId + '&page=1&pageSize=8');\n  if (res.statusCode !== 200) return [{ json: { type: 'text', message: '❌ ' + extractErrMsg(res.body) } }];\n\n  const allAppts = res.body.data || res.body.Data || [];\n  const active = allAppts.filter(a => !['CANCELLED','COMPLETED'].includes(a.status));\n\n  if (active.length === 0) {\n    return [{ json: { type: 'text', message: '📅 Bạn không có lịch hẹn nào đang hoạt động.\\n\\nGõ \"đặt lịch khám\" để đặt lịch mới.' } }];\n  }\n\n  const items = active.map(a => ({\n    id: a.appointmentId,\n    label: fmtDateTime(a.scheduledAt),\n    sublabel: fmtStatus(a.status),\n    payload: 'ACTION:APPT_DETAIL:' + a.appointmentId\n  }));\n  return [{ json: { type: 'date_selection', message: '📋 Lịch hẹn đang hoạt động (' + active.length + ' lịch) — Chọn để xem chi tiết / hủy:', data: items } }];\n}\n\nif (intent === 'BOOK_APPOINTMENT') {\n  const spec = (extractedSpecialty || '').toLowerCase().normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '').replace(/đ/g, 'd').trim();\n  try {\n    const searchData = await httpPost(GATEWAY + '/api/v1/memberships/doctors/search',\n      { specialty: spec || 'noi khoa', page: 1, pageSize: 10 });\n    const rawData = searchData.data || searchData.Data || [];\n    if (rawData.length === 0) return [{ json: { type: 'text', message: 'Không tìm thấy bác sĩ phù hợp.' } }];\n    const docs = rawData.map(d => {\n      const user = d.user || d.User || {};\n      const up = user.userProfile || user.UserProfile || {};\n      const p = up.profiles || up.Profiles || {};\n      const doc = p.Doctor || p.doctor || {};\n      return {\n        doctorId: doc.doctorId || d.membershipId || '',\n        name: user.fullName || up.fullName || 'Bác sĩ',\n        specialty: d.specialty || spec,\n        orgName: d.orgName || 'Bệnh viện',\n        orgId: String(d.orgId || d.OrgId || '')\n      };\n    });\n    return [{ json: { type: 'doctor_list', data: docs } }];\n  } catch(e) {\n    return [{ json: { type: 'text', message: 'Lỗi tìm bác sĩ: ' + e.message } }];\n  }\n}\n\nif (intent === 'EHR_QUERY') {\n  try {\n    const profileData = await httpGet(GATEWAY + '/api/v1/auth/me');\n    const p = profileData.profiles || profileData.Profiles || {};\n    const patient = p.Patient || p.patient || {};\n    const pId = patient.patientId || patient.PatientId || '';\n    if (!pId) return [{ json: { type: 'text', message: 'Cần đăng nhập bệnh nhân.' } }];\n    const ehrData = await httpGet(GATEWAY + '/api/v1/ehr/records/patient/' + pId);\n    const records = ehrData.data || ehrData.Data || [];\n    const count = Array.isArray(records) ? records.length : 0;\n    const sum = count > 0 ? 'Tìm thấy ' + count + ' hồ sơ.' : 'Chưa có hồ sơ.';\n    return [{ json: { type: 'card', data: { title: 'Hồ sơ bệnh án',\n      subtitle: 'BN: ' + (patient.fullName || '?'), summary: sum,\n      full_text: JSON.stringify(records, null, 2) } } }];\n  } catch(e) {\n    return [{ json: { type: 'text', message: 'Lỗi tra cứu: ' + e.message } }];\n  }\n}\n\nreturn [{ json: { type: 'text', message: 'Tôi chưa hiểu yêu cầu này. Bạn có thể:\\n• Đặt lịch khám\\n• Xem lịch hẹn\\n• Tra cứu bệnh án' } }];"
            },
            "id": "main-logic",
            "name": "Xử lý Chatbot",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond-final",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                440,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Xử lý Chatbot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Xử lý Chatbot": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {}
}